streamlit==1.38.0
PyPDF2==3.0.1
python-docx==0.8.11
python-pptx==0.6.21
pandas==2.1.1
openai==1.12.0
langchain==0.2.5
langchain-openai==0.0.8
faiss-cpu==1.8.0
langchain-community==0.0.29
langchain-core==0.1.33
scikit-learn==1.4.1.post1
openpyxl==3.1.2
tiktoken==0.6.0
pydantic==2.6.4
